<h1>Edit actor</h1>

<% @actor.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(model: @actor, url: actor_url(@actor), method: :patch) do |form| %>
  <div>
    <%= form.label :first_name %>

    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>

    <%= form.text_field :last_name %>
  </div>

  <%= form.button 'Update details' %>

<% end %>