<h1>
  List of all actors
</h1>

<hr>

<%= link_to 'Add a new actor/actress', new_actor_path %>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      First Name
    </th>

    <th>
      Last Name
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>
  </tr>

  <% @actors.each do |actor| %>

  <tr>
    <td>
      <%= actor.id %>
    </td>

    <td>
      <%= actor.first_name %>
    </td>

    <td>
      <%= actor.last_name %>
    </td>

    <td>
      <%= time_ago_in_words(actor.created_at) %>
    </td>

    <td>
      <%= time_ago_in_words(actor.updated_at) %>
    </td>

    <td>
      <%= link_to 'Show details', actor %>
    </td>
  </tr>  

  <% end %>
</table>