<h1>New actor</h1>

<% @actor.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(model: @actor) do |form| %>
  <div>
    <%= form.label :first_name %>

    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>

    <%= form.text_field :last_name %>
  </div>

  <%= form.button %>

<% end %>